*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
   background-color: #E8F0F6;
    font-family: 'Spartan',sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size:46px;
    line-height: 54px;
    color:#222;
}
h4{
    font-size: 20px;
    color: #222;

}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin:15px 0 20px 0;
}
.section-p1
{
    padding: 40px 80px ;
}
.section-m1
{
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color:transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}
.body
{
    width:100px;
}
.logo{
    height:120px;
    width:150px;
    

}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding:20px 80px;
  
    box-shadow:0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position:sticky;
    top:0;
    left:0;

}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#navbar li{
    list-style:none;
    padding:0 20px;
    position: relative;
  
}
#navbar li a{
text-decoration: none;
font-size: 16px;
font-weight: 600;
color: #1a1a1a;
transition: 0.3s ease;

}
#navbar li a:hover,
#navbar li a.active{

    color:#088178;

}

#navbar li a.active::after,
#navbar li a:hover::after
{
    content:"";
    width:30px;
    height:2px;
    background:#088178;
    position:absolute;
    bottom: -4px;
    left:20px;
}
#mobile{
    display: none;
    align-items: center;
}
.imgg{

    float:right;
    height:300px;
    width:414px;
    background-size: cover;
    background-position: top 25% right 0;
    margin-right:150px;
    margin-top:120;
}
#hero h1{
    color:#088178;
}
#hero button{
    background-image: url("img/button.png");
    background-color: transparent ;
    color:white;
    border: 0;
    align-items: center;
    padding: 10px 25px;
    margin-left: 80px;
    font-weight: 700;
    cursor: pointer;
    background-repeat: no-repeat;

}
#hero
{
    margin-top: 210px;
    margin-left: 210px;
    background-color:#E8F0F6 ;
    
}
#hero h4{
    background-color:#E8F0F6;
}
#hero p{
    background-color:#E8F0F6;
}
.free{
    height:130px;
    width:130px;
    margin-left: 5px;
    margin-top: 10px;
}
.free{
    height:130px;
    width:130px;
    margin-left: 5px;
    margin-top: 10px;
}

#feacture .fe-box:hover{
    box-shadow:10px 10px 54px rgba(70,62,221,0.1);
}

#feacture .fe-box h6
{
    display: inline-block;
    line-height: 1;
    border-radius: 6px;
    color:#088178;
   font-size: medium;
   margin:5px;
}
#feacture .fe-box
{
    width:180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.06);
    border:1px solid #cce7d0 ;
    background-color: white;

}
#feacture
{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 70px;
    background-color: white;
    width:100%;
}

#feacture .fe-box:nth-child(2) h6
{
    background-color: #cdebbc;
}
#feacture .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feacture .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feacture .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feacture .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#product1{
    background-color: white;
    text-align: center;
    

}
#product1 h2,p,div{
    background-color: white;
}
.des span,h5,h4,div{
    background-color: white;

}
#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}


#product1 .pro{
    width:23%;
    min-width:250px;
    padding: 10px 12px;
    border:1px solid #bfdbc3;

    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0,02);
     margin: 2px 0;
     transition: 0.2s ease;
     position: relative;
     
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
    background-color: white;

}
#product1 .pro :hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0,06);
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
    
}
#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top:7px;
    color:#1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    font-size: 12px;
    color:rgb(243,181,25);
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .cart{
    width: 40px;
    height:40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position:absolute;
    bottom:20px;
    right:10px;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/h.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-color: white;
}
#banner h4{
background-color:transparent;
color: white;
    font-size: 16px;
    
}

#banner h2{
    background-color:transparent;
color: white;
    font-size: 30px;
    pad: 10px 0;
    
}
#banner h2 span{
    color: #ef3535;
    background-color: transparent;
}
#banner button.normal:hover{
    background-color:#088178;
    color: white;
}
/*#sm-banner {
background-color: white;
}*/
#sm-banner h2,h4,span{
    background-color: transparent;
    
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url("img/yello.jpg");
    min-width: 580px;
    width:50%;
    height: 40vh;
    
    background-size: cover;
    background-position: center;
    padding: 30px;
    /*background-color: white;*/
   
}
#sm-banner .banner-box2{
    background-image: url("img/shirt.jpg");
}


#sm-banner h4{
    color:#fff;
    font-size:20px;
    font-weight: 300;
}
#sm-banner h2{
    color:#fff;
    font-size:20px;
    font-weight: 800;
}
#sm-banner span{
    color:#fff;
    font-size:14px;
    font-weight: 500;
    
}
#sm-banner .banner-box:hover button{
    background: #088178;
    border:1px solid #088178;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px;
    background-color: white;
    
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url("img/h1.jpg");
    min-width: 400px;
    width:25%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    margin-left: 77px;
    margin-bottom: 20px;

    
}
#banner3 .banner-box2{
    background-image: url("img/h2.jpg");
    font-size: 20px;
    margin-bottom: 20px;
    
}
#banner3 .banner-box3{
    background-image: url("img/h3.jpg");
    margin-bottom: 40px;
}

#banner3 .banner-box h2,h3{
    background-color: transparent;
}
#banner3 h2{
    color:#fff;
    font-weight: 900;
    font-size: 19px;
}
#banner3 h3{
    color:#ef6a6a;
    font-weight: 800;
    font-size: 15px;
}
.banner-box2 h2{
    font-size: 10px;
}
#newsletter{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: center;
    align-items: center;
   background-image:url("img/image.png");
    background-repeat: no-repeat;
    background-position: 30% 20%;
   
}
#newsletter .newstext h4,p{
    background-color:rgb(19, 19, 82);
    margin: 0;
    padding: 0;
   color: white;
    

}
#newsletter .newstext h4{
    font-size: 22px;
    font-weight: 700;
    color: white;
}
#newsletter .newstext p{
    font-size: 14px;
    font-weight: 600;
    color:#818ea0;
    background-color: rgb(19, 19, 82);
}
#newsletter i span{
    color: #ffbd27;
}
#newsletter input{
    height:3.125rem;
    padding: 0.1.25em;
    font-size: 14px;
    width: 100%;
    border:1px solid transparent;
    outline: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: white;
    
    
}


#newsletter button{
 background-color: #088178;
 color: white;
 white-space: nowrap;   
 
}
#newsletter .form{
    background-color:rgb(19, 19, 82);
    display: flex;
    width: 40%;
    
}
#foot{
    background-color: white;
    
}
#foot .col h4,p,strong,i{
    background-color: white;
    color:black;

}
.goo{
    height:30px;
    width:60px;
    margin-right: 40px;
}
.app{
    height:30px;
    width:80px;
}
.vis{
    height:30px;
    width:200px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer  .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 14px;
margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;

    background-color: white;
}
footer .follow{
 margin-top: 20px;


}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;   
    
   }
   footer .install .row img{
     border: 1px solid #088178;
     border-radius: 6px;
   }
   footer .install img{
    margin: 10px 0 15px 0;

   }
   footer .follow i:hover,
   footer a:hover {
    color:#088178;
   }
   footer .copyright{
    width: 100%;
    text-align: center;
   }
#close{
    display:none;
}
#prodetails .single-pro-image{
    width:40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    width: 60%;
    margin-left: 90px;
}
.single-pro-image{
    width: 80%;
    margin-left: 60px;
}
#prodetails{
    display: flex;
    margin-top: 20px;
   
}
#prodetails .single-pro-details button
{
background-color: #088;
height: 34px;
color:white;
}
#prodetails .single-pro-details{
    width:50%;
    padding-top: 30px;
    margin-left: 30px;
}
#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details span{
    line-height: 25px;
}
#prodetails .single-pro-details select{
    display: flex;

}
#prodetails .single-pro-details input:focus{
    outline: none;
}
/*shop */
#page
{
    
    background-image: url("img/blogg.jpg");
    background-color:#E8F0F6 ;
}
#page h4{
    background-color:transparent;
    color: white;
    text-align: center;
}
#page h2{
    background-color:transparent;
    color: white;
    text-align: center;
}
#page p{
    background-color:transparent;
    color: white;
    text-align: center;
}
#page h1{
    background-color:transparent;
    color: white;
    text-align: center;
}
#page1
{
    
    background-image: url("img/buil.jpg");
    background-color:#E8F0F6 ;
    
}
#page1 h4{
    background-color:transparent;
    color: white;
    text-align: center;
}
#page1 h2{
    background-color:transparent;
    color: white;
    text-align: center;
}
#page1 p{
    background-color:transparent;
    color: white;
    text-align: center;
}
#page1 h1{
    background-color:transparent;
    color: white;
    text-align: center;
}
#c1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.map{
    margin-top: 155px;
    margin-left: 10px;
}

.blog-img
{
    height: 100px;
    width:100px;
    margin-bottom: 100PX;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    
}
.blog-details{
    margin-left: 300px;
    background-color: #E8F0F6;
    color: black;
    font-weight: 700;
    position: relative;
   
}
#blog .blog-box .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    background-color: white;
}
#blog .blog-box .blog-details a::after{
    content:"";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top:4px;
    right: -60px;
}
#blog .blog-box .blog-details a::hover{
    color: #088178;
}

#blog .blog-details a:hover::after{
    background-color: #088178;
}
#blog .blog-box h1{
    position:absolute;
    top:-40px;
    font-size:70px;
    left: 0;
    font-weight: 700;
    color: #c9cbce;
}

#page1 .about-header{
     background-image: url("img/apple.jpg");
}

#about-head{
    display: flex;
}
.j{
    margin-left: 40px;
}
.j h2{
    background-color: white;
}
.j abbr{
    background-color: white;
}
#about-app{
    text-align: center;
}
#about-app .vedio{
    width: 70%;
    height:100%;
    margin: 30px auto 0 auto;
}
#about-app .vedio vedio{
    width: 100%;
    height:100%;
    border-radius: 20px;
}
#contact-details1{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width:40%;
}

#contact-details .details span,
#form-details form span{
    font-size:12px;
}
#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px0;
}
#contact-details .details h3{
    font-size: 16px;
    
    padding-bottom: 15px;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}
#contact-details  .map{
    width: 55%;
    height:400px;
}
#contact-deatils .map iframe{
    width:100%;
    height:100%;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border:2px solid #e1e1e1;
}


#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
}
#form-details form input,
#form-details form textarea{
    width:100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    outline:none;
    border:1px solid #e1e1e1;
}
#form-details form button{
    background-color: #088178;
    color:#fff;
    width: 70px;
    height: 30px;
}
#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit:cover;
    margin-right: 15px;
}
#form-details .people div{
    padding-bottom: 25px;
    display:flex;
    align-items: flex-start;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}
#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
#cart{
overflow: auto;
}

#cart table{
    width:100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
    width:70px ;
}
#cart table td:nth-child(1)
{
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2)
{
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3)
{
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6)
{
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input
{
width: 70px;
padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px;
}
#cart table tbody td{
    font-size: 13px;
}
#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#cart-add #coupon{
    width:50%;
    margin-bottom: 30px;
}
#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px;
    outline: none;

    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}
#coupon button,
#subtotal button{
    background-color: #088178;
    color: #ffff;
    padding: 12px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding:30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width:50%;
    border:1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
    background-color: white;
}


.wrapper {
    
    text-align: center;
    background-image: url("img/loginn.jpg");
}

.details1
{
	padding:1rem;
}
@media (max-width:799px){
    .section-p1
    {
    padding: 40px 80px;
    }
    #navbar li a{
        background-color: white;
    }
    #navbar li{
        background-color: white;
    }
    #navbar {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    position:fixed;
    top:0;
    right:-300px;
    height:100vh;
    width:300px;
    box-shadow:0 40px 60px rgba(0,0,0,0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
    }
    #navbar.active
    {
         right: 0px;
    }
    #navbar #lg-bag a i{
        background-color: #E8F0F6;
    }
    
    #navbar li{
        margin-bottom: 20px;
    }
    #mobile{
        display: flex;
        align-items: center;
        background-color: #E8F0F6;
        margin-left: 20px;
        
    }
    #mobile #bar{
        
        background-color: #E8F0F6;
    }
    #moblie i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
        background-color: #E8F0F6;
       
    }
    
    #close{
        display: initial;
        position: absolute;
        top:30px;
        left:30px;
        color:#222;
        font-size:24px;
    }
    #lg-bag{

        display: none;
    }
    #hero{
        height:70vh;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    }
    .imgg{
        margin-right: 0;
        height: 500px;
        width:700px;
        margin-top: 0;
    }
    #feacture{
        justify-content: center;
    }
    #feacture .fe-box{
        margin:15px 15px;
    }
    #product1 .pro-container{
        justify-content: center;
    }
    #product1 .pro{
        margin: 20px 0;
        width:100%;


    }
    #banner{
        height: 20vh;
    }
    #sm-banner .banner-box{
        min-width: 100;
        height: 50vh;
        padding: 30px;
    }

    #banner3{
        padding: 0 40px;
        font-size: 5px;
    }
    #banner3 .banner-box{
        width: 28%;
        display: flex;
        float: left;
        min-width: 100px;
        font-size: 10px;
        margin-left: 0;
    }
    #newsletter .form{
    width: 80%;
    margin-left: 10px;
    }
    #newsletter .newstext h4,p{
        font-size: 15px;
    }
    #form-details{
        padding: 40px;
    }
    #form-details form{
        width:50%;
    }
    
} 
@media (max-width: 477px) {
    #header{
        padding: 10px 30px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px;
    }
    #hero{
        padding: 0 20px;
        background-position:  55%;
    }
    #feacture{
        justify-content: space-between;
    }
    #feacture .fe-box{
        width:155px;
        margin:0 0 15px 0;

    }
    #product1 .pro{
        width: 100%;
    }
    #banner{
        height:40vh;
    
    }
    #sm-banner .banner-box{
        height: 20vh;
        
    }
    #banner3 .banner-box{
        width: 100%;
    }
    #newsletter{
        padding: 40px 20px;
    }
    #newsletter .form{
        width: 100%;
    }

    footer .copyright{
        text-align: start;
    }
    #blog{
        padding: 100px 20px 0 20px;
    }
    #blog .blog-box{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    #blog .blog-img{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;

    }
    #blog .blog-details{
        width: 100%;
    }
    #about-head{
        flex-direction: column;
    }
    #about-head img{
        width: 100;
        margin-bottom: 20px;
    }
    #about-head div{
        padding-left: 0px;
    }
    #contact-details{
        flex-direction: column;
    }
    #contact-details .details{
        width: 100%;
        max-bottom:30px;
    }
    #contact-details .map{
        width: 100px;
        
    }
    
}


